# bundler
/.bundle

# SQLite.
/db/*.sqlite3
/db/*.sqlite3-journal

# Logs.
/log/*.log
/tmp

# Other files.
database.yml
private_pub.yml
secrets.yml
doc/
*.swp
*.rdb
dump.rdb
*~
.project
.DS_Store
.idea
.secret

# rubocop
.rubocop.yml
rubocop_pre_commit_hook.rb

# public uploads
/public/uploads

# sphinx
config/*.sphinx.conf
db/sphinx
*.pid
