<% if @answer.errors.present? %>
  <% @answer.errors.full_messages.each do |msg| %>
    $('.new_answer_info').html('<div class="alert alert-danger"><%= j msg %></div>').delay(1000).fadeOut(400);
  <% end %>
<% else %>
  $('.new_answer_info').html('<%= j render 'notice' %>').fadeOut(4000);
  $('.answers').append('<%= j render @answer %>');
  $('#new_answer').find('#answer_body').val('');
<% end %> 
