<% if @answer.errors.present? %>
  <% @answer.errors.full_messages.each do |msg| %>
    $('.new_answer').before('<div class="alert alert-danger"><%= j msg %></div>')
  <% end %>
<% else %>
  $('.flash-notice').html('<%= j render 'notice' %>').delay(1000).fadeOut(400);
  $('.answers').html('<%= j render 'questions/answers' %>');
    
  $('.edit-answer-link').click(function(e) {
    e.preventDefault();
    $(this).hide();
    answer_id = $(this).data('answerId')
    $('form#edit-answer-' + answer_id).show();
  });
<% end %> 
