<% if @answer.errors.present? %>
  <% @answer.errors.full_messages.each do |msg| %>
    $('.flash-notice').html('<div class="alert alert-danger"><%= j msg %></div>').delay(1000).fadeOut(400);
  <% end %>
<% else %>
  $('.flash-notice').html('<%= j render 'notice' %>').delay(1000).fadeOut(400);
  $('.answers').html('<%= j render @answers %>');
<% end %> 
